{% extends 'base.html.twig' %}

{% block title %}Inicio - LCDF{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 text-center py-5">
            <h1 class="display-4 fw-bold">Bienvenido a {{ controller_name }}</h1>
            <p class="lead text-muted">Consulta y valora las mejores competiciones del mundo</p>
            <hr class="my-4" style="max-width: 200px; margin: auto; border-top: 3px solid #000;">
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">

        </div>
    </div>
{% endblock %}
